In [1]:
d1 = {1:"one", 2:"two", 3:"three", 4:"four"}
print(d1)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [2]:
#clear
d1 = {1:"one", 2:"two", 3:"three", 4:"four"}
d1.clear()
print(d1)

{}

In [3]:
print(d1)

{}

In [7]:
#copy
d1 = {1:"one", 2:"two", 3:"three", 4:"four"}
x = d1.copy()
print(x)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [8]:
print(x)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [14]:
#fromkeys
d1 = {"one", "two", "three", "four"}
d2 = 0
d3 = dict.fromkeys(d1,d2)
print(d3)

{'one': 0, 'two': 0, 'four': 0, 'three': 0}

In [16]:
#get
d1 = {1:"one", 2:"two", 3:"three", 4:"four"}
d3 = d1.get(2)
print(d3)

two

In [25]:
def printNumber(n):
    if n > 0:
        printNumber(n - 1)
        print(n, end = ' ')
n = 50
printNumber(n)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [30]:
#items
d1 = {1:"one", 2:"two", 3:"three", 4:"four"}
d3 = d1.items()
print(d3)

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')])

In [33]:
#keys
d1 = {1:"one", 2:"two", 3:"three", 4:"four"}
d3 = d1.keys()
print(d3)

dict_values(['one', 'two', 'three', 'four'])

In [34]:
#values
d1 = {1:"one", 2:"two", 3:"three", 4:"four"}
d3 = d1.values()
print(d3)

dict_values(['one', 'two', 'three', 'four'])

In [38]:
#pop
d1 = {1:"one", 2:"two", 3:"three", 4:"four"}
d3 = d1.pop(1)
print(d3)

one

In [40]:
# popitem
d1 = {1:"one", 2:"two", 3:"three", 4:"four", 5:"five"}
d3 = d1.popitem()
print(d3)

(5, 'five')

In [44]:
# setdefault
d1 = {1:"one", 2:"two", 3:"three", 4:"four", 5:"five"}
d3 = d1.setdefault("3", "six")
print(d3)

six

In [57]:
#update
d1 = {1:"one", 2:"two", 3:"three"}
d1.update({"4": "six"})
print(d1)

{1: 'one', 2: 'two', 3: 'three', '4': 'six'}

In [65]:
#change
d1 = {1:"one", 2:"two", 3:"three"}
d1["three"] = 2

In [66]:
d1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
d1["year"] = 2018