In [1]:
def myfuction():
    print(" hello my fuction")
myfuction()

 hello my fuction

In [2]:
def my_fuction(fname):
    print(fname + "Refsnes")

my_fuction("Email")
my_fuction("tobias")
my_fuction("linus")

EmailRefsnes
tobiasRefsnes
linusRefsnes

In [5]:
def my_fuc(fname, lname):
    print(fname + " " +lname)
my_fuc("jay" , "miskin")

jay miskin

In [15]:
def my_fuc(fname, lname):
    print(fname + " " +lname)
my_fuc("jay","miskin" )

jay miskin

In [12]:
def my_fuction(*kids):
    print("The youngest child is " + kids[2])
    
my_fuction("email", "naresh", "jay")

The youngest child is jay

In [14]:
def my_fuction(child3, child2, child1):
    print("The youngest child is " + child3)
my_fuction(child1 = "naresh", child2 = "jay", child3 = "abhishek")

The youngest child is abhishek

In [21]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "jay", lname = "miskin")

His last name is miskin

In [27]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [36]:
def my_fuction(country = " india"):
    print("i am from" + country)
my_fuction(" india")
my_fuction(" nz")
my_fuction()
my_fuction(" canada")

i am from india
i am from nz
i am from india
i am from canada

In [38]:
def my_fuction(food):
    for x in food:
        print(x)
fruits = ["apple", "banana", "cherry", "mango"]
my_fuction(fruits)

apple
banana
cherry
mango

In [40]:
def my_fuction(x):
    return 5 * x
print(my_fuction(3))
print(my_fuction(4))
print(my_fuction(5))

15
20
25

In [42]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(10)

Recursion Example Results
1
3
6
10
15
21
28
36
45
55

55

In [46]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(10)

Recursion Example Results
1
3
6
10
15
21
28
36
45
55

55

In [47]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [48]:
x = lambda a, b, c : a * b * c
print(x(5, 6, 4))

120

In [49]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [3]:
import keyword
ans = keyword.kwlist
print(ans)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
import math 
print(math.factorial(5))

120

In [ ]:
n = (int("enter a num: "))
f = 1
for i in range(1,n+1):
    f*=i     (f=f*i)
print(f)

In [ ]:
n=int(input("Enter a number : "))
f=1
for i in range(1,n+1):
    f*=i    (f=f*i)

print(f)

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")

In [ ]:
f = ['apple', 'banana', 'orange']
f.clear()

In [ ]:
f = ['apple', 'banana', 'orange']
x = f.copy()
print(x)

In [ ]:
print(x)

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()

In [ ]:
p1 = MyClass()
print(p1.x)

In [ ]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1.person("jay", 21)
print(p1.name)
print()

In [1]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [4]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [6]:
class person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        print(self.firstname, self.lastname)
        
x = person("jay", "naresh")
x.printname()

jay naresh

In [7]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)

In [5]:
def greet():
    print('Hello World!')

In [8]:
def greet():
    print('Hello World!')
    
greet()

print('outside fuction')

Hello World!
outside fuction

In [15]:

def add_numbers(num1, num2):
    sum = num1 + num2
    print("Sum: ",sum)

add_numbers(5, 5)

Sum:  10

In [21]:
def add_numbers(num1, num2):
    sum = num1 + num2
    return sum

result = add_numbers(5, 4)

print('Sum: ',result)

9

In [23]:
def square(num):
    return num * num
for i in [1,2,3,4]:
    result = square(i)
    print('square of',i,'=',result)

square of 1 = 1
square of 2 = 4
square of 3 = 9
square of 4 = 16

In [24]:
def add_numbers( a = 7,  b = 8):
    sum = a + b
    print('Sum:', sum)

add_numbers(2, 3)
add_numbers(a = 2)
add_numbers()

Sum: 5
Sum: 10
Sum: 15

In [28]:
def display(first_name, last_name):
    print('firstname:', first_name)
    print('lastname:', last_name)

display(last_name = 'miskin', first_name = 'jay' )

firstname: jay
lastname: miskin