In [1]:
import sqlite3 as sql

In [3]:
db = sql.connect("mydatabasepractice.db")

In [4]:
cur = db.cursor()

In [5]:
cur.execute("create table users(id int, name varchar(25), email varchar(25))")

In [7]:
cur.execute('''insert into users(id,name,email) values('1','nishad','mehtanishad@gmail.com')''')

In [8]:
db.commit()

In [9]:
cur.execute("select * from users")

In [10]:
cur.fetchall()

[(1, 'nishad', 'mehtanishad@gmail.com')]

In [4]:
data = [
    {
        'id' : 2,
        'name' : 'naresh',
        'email' : 'naresh96@gmail.com',
    },
    {
        'id' : 3,
        'name' : 'vishal',
        'email' : 'vishad@gmail.com',
    }
]

In [5]:
for i in data:
    print(i)

{'id': 2, 'name': 'naresh', 'email': 'naresh96@gmail.com'}
{'id': 3, 'name': 'vishal', 'email': 'vishad@gmail.com'}

In [6]:
for i in data:
    for r in i:
        print(r)

id
name
email
id
name
email

In [7]:
for i in data:
    for r in i:
        print(r,i[r])

id 2
name naresh
email naresh96@gmail.com
id 3
name vishal
email vishad@gmail.com

In [10]:
for i in data:
    for k,v in i.items():
        print(k,v)

id 2
name naresh
email naresh96@gmail.com
id 3
name vishal
email vishad@gmail.com

In [12]:
for i in data:
    for r in i.values():
        print(r)

2
naresh
naresh96@gmail.com
3
vishal
vishad@gmail.com

In [16]:
for i in data:
    d = list()
    for r in i:
        d.append(r)
    print(d)

['id', 'name', 'email']
['id', 'name', 'email']

In [17]:
for i in data:
    d =[*i.values()]
    print(d)

[2, 'naresh', 'naresh96@gmail.com']
[3, 'vishal', 'vishad@gmail.com']

In [ ]:
for i in data:
    d = tuple(i.values())
    query = f ''' insert into users(id,name)'''