In [15]:
import sqlite3 as sql

In [16]:
db = sql.connect("mydatabasepractice.db")

In [17]:
cur = db.cursor()

In [18]:
cur.execute("create table users(id int, name varchar(25), email varchar(25))")

OperationalError: table users already exists

In [19]:
cur.execute('''insert into users(id,name,email) values('1','nishad','mehtanishad@gmail.com')''')

In [20]:
db.commit()

In [21]:
cur.execute("select * from users")

In [22]:
cur.fetchall()

[(1, 'nishad', 'mehtanishad@gmail.com'),
 (1, 'nishad', 'mehtanishad@gmail.com')]

In [23]:
data = [
    {
        'id' : 2,
        'name' : 'naresh',
        'email' : 'naresh96@gmail.com',
    },
    {
        'id' : 3,
        'name' : 'vishal',
        'email' : 'vishad@gmail.com',
    }
]

In [24]:
for i in data:
    print(i)

{'id': 2, 'name': 'naresh', 'email': 'naresh96@gmail.com'}
{'id': 3, 'name': 'vishal', 'email': 'vishad@gmail.com'}

In [25]:
for i in data:
    for r in i:
        print(r)

id
name
email
id
name
email

In [26]:
for i in data:
    for r in i:
        print(r,i[r])

id 2
name naresh
email naresh96@gmail.com
id 3
name vishal
email vishad@gmail.com

In [27]:
for i in data:
    for k,v in i.items():
        print(k,v)

id 2
name naresh
email naresh96@gmail.com
id 3
name vishal
email vishad@gmail.com

In [28]:
for i in data:
    for r in i.values():
        print(r)

2
naresh
naresh96@gmail.com
3
vishal
vishad@gmail.com

In [29]:
for i in data:
    d = list()
    for r in i:
        d.append(r)
    print(d)

['id', 'name', 'email']
['id', 'name', 'email']

In [30]:
for i in data:
    d =[*i.values()]
    print(d)

[2, 'naresh', 'naresh96@gmail.com']
[3, 'vishal', 'vishad@gmail.com']

In [31]:
for i in data:
    d = tuple(i.values())
    
    query = f'''insert into users(id, name, email) values{d}'''
    print(query)

insert into users(id, name, email) values(2, 'naresh', 'naresh96@gmail.com')
insert into users(id, name, email) values(3, 'vishal', 'vishad@gmail.com')

In [34]:
for i in data:
    d = tuple(i.values())
    
    query = f''' insert into users(id, name, email) values{d}'''
    cur.execute(query)

db.commit()

In [35]:
cur.execute('select * from users')

In [37]:
cur.fetchall()

[(1, 'nishad', 'mehtanishad@gmail.com'),
 (1, 'nishad', 'mehtanishad@gmail.com'),
 (2, 'naresh', 'naresh96@gmail.com'),
 (3, 'vishal', 'vishad@gmail.com')]

In [40]:
cur.execute('update users set name = "nishad mehta, nishad" where id = 2')

In [39]:
db.commit()

In [51]:
# create new cennection
import pymysql as sql

In [52]:
db = sql.connect(host="localhost", port=3306, user="root", password='', database="nov_database")

OperationalError: (1049, "Unknown database 'nov_database'")