In [4]:
# list 
l1 = ["apple", "banana", "cherry"]
print(l1)

['apple', 'banana', 'cherry']

In [11]:
#extend
l1 = ["apple", "banana", "cherry"]
# l2 = ["mango", "water"]
l1.extend("2")
print(l1)

['apple', 'banana', 'cherry', '2']

In [16]:
#count
l1 = ["apple", "banana", "cherry"]
x = l1.count("banana")
print(x)

1

In [17]:
#extend
l1 = ["apple", "banana", "cherry"]
l2 = ["mango",]
l1.extend(l2)
print(l1)

['apple', 'banana', 'cherry', 'mango']

In [18]:
#index
l1 = ["apple", "banana", "cherry"]
x = l1.index("banana")
print(x)

1

In [23]:
#insert
l1 = ["apple", "banana", "cherry"]
l1.insert(2, "mango")
print(l1)

['apple', 'banana', 'mango', 'cherry']

In [26]:
#pop
l1 = ["apple", "banana", "cherry"]
l1.pop(1)
print(l1)

['apple', 'cherry']

In [39]:
#remove
l1 = [1,2,3,4,5,6,7,8,9]
l1.remove(2)
print(l1)

[1, 3, 4, 5, 6, 7, 8, 9]

In [41]:
#reverse
l1 = [1,2,3,4,5,6,7,8,9]
l1.reverse()
print(l1)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [45]:
#sort
l1 = [1,2,3,5,6,8,6,7]
l1.sort()
print(l1)

[1, 2, 3, 5, 6, 6, 7, 8]

In [8]:
n = "mehta nishad"
x = n.index("nishad")
print(x)

6

In [10]:
f = ["mango", "banana"]
f.append("nishad")
print(f)

['mango', 'banana', 'nishad']

In [13]:
f = ["mango", "banana"]
f.clear()
print(f)

[]

In [14]:
f

[]

In [17]:
f = ["mango", "banana"]
f.copy()
print(f)

['mango', 'banana']

In [18]:
f

['mango', 'banana']

In [19]:
f.append("nishad")
print(f)

['mango', 'banana', 'nishad']

In [25]:
f = ["mango", "banana"]
x = f.count("mango")
print(x)

1

In [26]:
f = ["mango", "banana"]
car = ["nishad", "mehta"]
f.extend(car)
print(f)

['mango', 'banana', 'nishad', 'mehta']

In [30]:
f = ["mango", "banana"]
x = f.index("mango")
print(x)

0

In [31]:
f = ["mango", "banana"]
f.insert(1,"nishad")

In [32]:
f

['mango', 'nishad', 'banana']

In [33]:
f = ["mango", "banana", "nishad"]
f.remove("nishad")
print(f)

['mango', 'banana']

In [37]:
f = ["mango", "banana", "nishad"]
f.reverse()
print(f)

['nishad', 'banana', 'mango']

In [38]:
f = ["mango", "banana", "nishad"]
f.sort()
print(f)

['banana', 'mango', 'nishad']

In [43]:
student ={
    "roll no" : "1",
    "name" :"nishad",
}
student.copy()
print(student)

{'roll no': '1', 'name': 'nishad'}

In [44]:
student

{'roll no': '1', 'name': 'nishad'}

In [45]:
student ={
    "roll no" : "1",
    "name" :"nishad",
}
student.clear()
print(student)

{}

In [46]:
student

{}

In [49]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [50]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

In [51]:
student ={
    "roll no" : "1",
    "name" :"nishad",
}
x = student.get("name")
print(x)

nishad

In [55]:
student ={
    "roll no" : "1",
    "name" :"nishad",
}
x = student.items()
print(x)

dict_items([('roll no', '1'), ('name', 'nishad')])

In [56]:
student ={
    "roll no" : "1",
    "name" :"nishad",
}
x = student.keys()
print(x)

dict_keys(['roll no', 'name'])

In [57]:
student ={
    "roll no" : "1",
    "name" :"nishad",
}
x = student.values()
print(x)

dict_values(['1', 'nishad'])

In [58]:
student ={
    "roll no" : "1",
    "name" :"nishad",
}
student.pop("name")
print(student)

{'roll no': '1'}

In [1]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [2]:
list1

['a', 'b', 'c', 1, 2, 3]

In [4]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list1)
print(list2)

[1, 2, 3]

In [5]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)set1 = {"abc", 34, True, 40, "male"}

{'apple', 'cherry', 'banana'}

In [6]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'apple', True, 2, 'banana', 'cherry'}

In [8]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'male', 40, 'abc'}

In [9]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [12]:
a = 400
b = 200
if a > b:
    print("a is greater than b")
else:
    print("b is greater than a")

a is greater than b

In [15]:
a = 33
b = 40
if a != b:
    print("a and b are not equal")
elif a == b:
    print("a and b are equal")

a and b are not equal

In [18]:
a = 33
b = 33
if b > a:
    print("b is grater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is grater than b")

a and b are equal

In [23]:
a = 2
b = 1

if a > b: 
    print("a is greater than b")

a is greater than b

In [25]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [27]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [28]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [32]:
a = 33
b = 222 
if not a > b:
        print("a is not grater than b ")

a is not grater than b

In [36]:
a = 42

if a > 10:
    print("above ten, ")
    if a > 20:
        print("and also above 20! ")
    else:
        print("but not above 20")

above ten,
and also above 20!