In [3]:
n = input("enter a string: ")
s = {}
for i in n:
    if i in s:
        s[i] +=1
    else:
        s[i]=1
print(s)

enter a string: mehta nishad
{'m': 1, 'e': 1, 'h': 2, 't': 1, 'a': 2, ' ': 1, 'n': 1, 'i': 1, 's': 1, 'd': 1}

In [7]:
n = int(input("enter a number: "))
factorial = 1
if n>=1:
    for i in range(1, n+1):
        factorial = factorial*i
        print("Factorial of the given number is: ", factorial)

enter a number: 8
Factorial of the given number is:  1
Factorial of the given number is:  2
Factorial of the given number is:  6
Factorial of the given number is:  24
Factorial of the given number is:  120
Factorial of the given number is:  720
Factorial of the given number is:  5040
Factorial of the given number is:  40320

In [11]:
n = int(input("enter a number: "))
factorial = 1
if n>= 1:
    for i in range(1, n+1):
        factorial = factorial *i
        print("factorial:", factorial)

enter a number: 5
factorial: 1
factorial: 2
factorial: 6
factorial: 24
factorial: 120

In [4]:
number = 10
n1, n2 = 0,1
print("fibonacci series:", n1,n2,end=" ")
for i in range(2, number):
    n3 = n1+n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")
print()

fibonacci series: 0 1 1 2 3 5 8 13 21 34

In [6]:
a=input("enter a string: ")
b=input("enter a words: ")
print(a[:2] + b +a[2:])

enter a string: nishad
enter a words: 2030
ni2030shad

In [22]:
def reverse_string(str1):
    if len(str1) % 4 == 0:
          return ''.join(reversed(str1))
    return str1

print(reverse_string('tops'))
print(reverse_string('technology'))

spot
technology

In [23]:
sentance = input("enter a sentance: ")
longest = max(sentance.split(), key=len)
print("longest word is: ", longest)
print("and its length is: len(longest))

enter a sentance: my name is mehta nishad
longest word is:  nishad
and its length is:  6

In [ ]:
n = float(input("enter a number: "))
if n> 0:
    print("positive number")
elif n == 0:
    print("zero")
else:
    print("negative number")

In [1]:
number = int(input("enter a number: "))
if (number % 2) == 0:
    print("even numner")
else:
    print("odd number")

enter a number: 5
odd number

In [3]:
a = input("enter a word: ")
k=a.replace("not poor", "good")
print(a)

enter a word: mehta nishad
mehta nishad

In [4]:
r=input("enter a paragraph: ")
k=len(r)
print(k)

enter a paragraph: mehta nishad
12

In [6]:
n =int(input("enter a number: "))
sum_num = (n *(n + 1)) /2
print("sum of the first", n , "positive integers", sum_num )

enter a number: 5
sum of the first 5 positive integers 15.0