In [3]:
number = [1,2,3,4,5]
list = []
for i in number:
    list.append(i**2)
print(list)

[1, 4, 9, 16, 25]

In [4]:
samplelist = [10.20,30,40]
del samplelist[0:6]
print(samplelist)

[]

In [5]:
def max_num(L):
    max = L(0)
    for i in L:
        if amax
        max=a
    return max

SyntaxError: invalid syntax (863693092.py, line 4)

In [20]:
a = 50
b = 10
if a==b:
    print("1")
elif a>b:
    print("2")
else:
    print("3")

2

In [21]:
x = "hello world"
print(x[2:5])

llo

In [22]:
a = [1,2,3,4,5]
b = [i**2 for i in a]
print(b)

[1, 4, 9, 16, 25]

In [29]:
thistuple = ("apple",)
print(thistuple)

thistuple = ("apple")
print(thistuple)

('apple',)
apple

In [28]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

5

In [1]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [2]:
tuple1 = ("abc", 34, True, 40, "male")

In [3]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [9]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [24]:
mytuple = ("apple", "banana", "cherry")
print(mytuple[1])

banana

In [28]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [29]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [1]:
x = ("apple", "banana", "cherry")
y = list(x) 
y.append("orange")
x = tuple(y)

In [3]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [6]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("banana")
thistuple = tuple(y)

In [12]:
t = ("apple", "banana", "cherry")
for x in t:
    print(x)

apple
banana
cherry

In [16]:
t = ("apple", "banana", "cherry")
for i in range(len(t)):
    print(t[i])

apple
banana
cherry

In [ ]:
t = ("apple", "banana", "cherry") 
i = 0
while i < len(t):
    print(t[i])
i = i + 1